<!-- HTML FOR HOMEPAGE -->
<html>
{% load static %}

<script src="{% static "homepage/Event.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'standard/standard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
<body onkeypress="myFunction()"></body>

<div class="contact">
  <ul> 
     <ul> <a href="mailto:mailto:alejandra.riv.ada@gmail.com?subject=Job Application"> Email me</a></ul>
  </ul>
</div>


<nav>
<div class="menu">
  <ul>
    <a class="active" href="">Home</a>
    <a href="/AboutMe">About Me</a>
    <a href="/Blog">Blog</a>
    <a href="/CV">CV</a>
    <a href="/Portfolio">Portfolio</a>
    <a href="../ContactMe">Contact Me</a>
  </ul>
  </div>
</nav>


<style>
  #myDIV {
    display: none;
  }
  </style>



<div id="myDIV" class="aboutMe">
  <img src="{% static "homepage/Loading.gif" %}" alt="Loading" height="90px" align="centre" style="border-radius: 10px 10px 10px 10px;"">
</div>

<h1> Welcome to:<br>My<br>interactive<br>Cv </h1> 
<h3 id="AboutMe"> </h3> 


<div class="card">
  <h2>
    
  <img src="{% static "homepage/TypeAnim.gif" %}" alt="Name" height="45px" align="right" style="padding-top: 25px; padding-right: 10%;">
  My Name:
  <img src="{% static "homepage/press_any_key_to_continue.gif" %}" alt="pressKey2Continue" height="45px" align="centre" >
</h2>

</div>

</html>




