/* CSS APPLIED TO HOMEPAGE AND BLOG */
@font-face {
  font-family: 'ArcadeClassic';
  src: url(../fonts/ArcadeClassic.ttf.woff);
}

h1{
  font-family: 'ArcadeClassic';
  font-size: 90px;
  letter-spacing: 5px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px #E0909D;

  background-color: #86CB92; 
  border:2px solid #FFFD98;
  -webkit-box-shadow: 10px 10px 50px black;
 
  position: relative;
  margin-top: 10%;
  margin-bottom: 0px;
  left: 20%;
  width: 60%;
  z-index: 0;
}

h2 {
  font-family: 'ArcadeClassic';
  font-size: 70px;
  margin: 0px;
  margin-left: 10%;
  position: relative;
  color: white;

}


.card{
  padding: 10px;
  margin-top: 20px;
}
.card img{
  padding: 10px;
  margin: 0px;
  padding-right: 10%;
  vertical-align: center;
}
.aboutMe img{
  background-color: #86CB92; 
  border:9px solid #FFFD98;
  -moz-box-shadow: 10px 10px 50px black;
  -webkit-box-shadow: 10px 10px 50px black;
  box-shadow: 10% 10% 50% black;
 
  position: fixed;
  left: 30.33%;
  top: 40%;
  font-size: 70px;
  z-index: 5;
}

