<!-- HTML FOR BLOG MAIN -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/standard/standard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

<div class="contact">
  <ul> 
    <ul> <a href="mailto:mar933@student.bham.ac.uk?subject=Job Application"> Email me</a></ul>
    <ul> <a href=""> Phone me: NOT Currently AVAILABLE</a></ul>
  </ul>
</div>

<nav>
  <div class="menu">
    <ul>
      <a href="../">Home</a>
      <a href="../AboutMe">About Me</a>
      <a class="active" href="">Blog</a>
      <a href="../CV">CV</a>
      <a href="../Portfolio">Portfolio</a>
    </ul>
  </div>
</nav>



<h1 style="top: 10%;"> Blog Site</h1>

<div style="padding-top: 18%; padding-left: 10%;">


  {% if post_list%}
    
    {% for post in post_list %}
    
    <div class="rowPost"> 
      <a href="{% url 'blog:postinfo' post.id %}">
        <img src="{{post.post_Image.url}}" alt="Blog Picture" align="left">
      </a>

      <ul>
        <h4>
          <a href="{% url 'blog:postinfo' post.id %}">{{post.post_Title}}</a><br>
        </h4>
        by:  {{ post.post_Author }}<br>

        Category: {{post.post_Type}} <br>

          {% if post.post_Assignment%}
            <h5 style="font-style: italic; color: #FFA552;">Part of Assignment</h5>
          {% else %}
          {% endif %}
      </ul>
    </div>
    


    {% endfor %}
    {% else %}
      <p>No Current Posts.</p>

  {% endif %} 
 
  


</div>